.holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
}

.element-1{
    background-color: red;
}
.element-2{
    background-color: red;
}
.element-3{
    background-color: red;
}
.element-4{
    background-color: red;
}

/* Your CSS Code here. */


/* Your CSS Code here. */